html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


#App {
  padding: 50px;
  margin: 0 auto;
  width: 500px;
}

.snake {
  background-color: green;
}

#apple { background-color: red }


#field { 
  position: relative;
  background-color: black;
  height: 400px;
  width: 400px; }

#field * { 
  position: absolute; 
  width: 10px; 
  height: 10px; }
  

#score {
    display: inline-block;
    color: white;
    background-color: black;
    width: 400px;
    height: 40px;
    border-bottom: 4px dashed white;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    font-size: 20px;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 10px;
  }

  #gameover {
    color: white;
    background-color: black;
    width: 400px;
    height: 440px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    padding-top:130px;
    line-height: 140%;
  }