.App {
  position: relative;
  text-align: center;
  background-color: black;
  height: 500px;
  width: 500px;

}

.snake {
  background-color: green;
}

#apple { background-color: red }


#field { position: relative; }

#field * { 
  position: absolute; 
  width: 10px; 
  height: 10px; }